@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
}

:root {
    --roxo: #7541c8;
    --darkgray: #48556a;
    --darkblue: #19212e;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EDF2F8;
    font-size: 13px;
    height: 100vh;
}

.container {
    display: grid;
    grid-gap: 20px;
    align-items: flex-start;
    grid-template-areas:
        "daniel daniel jonathan kira"
        "jeanette patrick patrick kira";
    margin: 0 10px;
}

section {
    padding: 30px;
    border-radius: 8px;
    color: #fff;
}

.daniel {
    grid-area: daniel;
    max-width: 500px;
    background: var(--roxo) url('./images/bg-pattern-quotation.svg')   80% 0 / 110px no-repeat;
}

.daniel img {
    border-color: #9a78d1;
}

.jonathan {
    grid-area: jonathan;
    max-width: 190px;
    background: var(--darkgray);
}

.jeanette {
    grid-area: jeanette;
    max-width: 190px;
}

.patrick {
    grid-area: patrick;
    max-width: 500px;
    background: var(--darkblue);
}

.patrick img {
    border-color: var(--roxo);
}

.kira {
    grid-area: kira;
    max-width: 175px;
}

.jeanette,
.kira {
    background: #fff;
    box-shadow: 20px 20px 20px #00000010;
    color: #222;
}

.jeanette img,
.kira img {
    border-color: white;
}

.jonathan img {
    border-color: #48556a;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

img {
    height: 100%;
    margin-right: 15px;
    border-radius: 50px;
    border: 2px solid;
    width: 30px;
}

h2 {
    margin-bottom: 1rem;
    font-size: 20px;
}

.desc {
    opacity: 70%;
}

.graduate {
    opacity: 50%;
}

.jeanette .desc,
.kira .desc {
    color: #222;
    opacity: 70%;
}

@media (max-width: 1024px) {
    body {
        height: auto;
    }

    .container {
        margin: 15px;
        grid-template-areas:
            "daniel daniel jonathan"
            "jeanette patrick patrick "
            "kira kira kira";
        align-items: stretch;
    }

    .daniel,
    .patrick {
        max-width: 550px;
    }

    .jonathan,
    .jeanette {
        max-width: 250px;
    }

    .kira {
        max-width: 860px;
    }
}

@media (max-width: 540px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .jonathan,
    .jeanette {
        max-width: 500px;
    }
}